@import "variables/global";
@import "themes/light";
@import "themes/dark";

:root {
  --cell-white: #{$baseWhite};
  --cell-black: #{$baseBlack};
  --figure-white: #{$figureWhite};
  --figure-black: #{$figureBlack};
  --active: #{$active};
  --turbid: #{$turbid};
  --font-s: #{$fontMain};
  --font-m: #{$fontMain};
  --font-l: #{$fontLarge};
}

.app {
  background: {
    color: var(--bg-color);
  };
  color: var(--primary-color);
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr;
}

body {
  margin: 0;
  font: $fontMain;
}

button {
  font: $fontMain;
}

h1, h2, h3, h4 {
  margin: 0;
  font-size: unset;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font: $fontLarge;
  font-weight: 600;
}