:global {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.Wrapper {
  display: grid;
  width: fit-content;
}

.Board {
  display: flex;
  flex-flow: wrap-reverse;
  width: 500px;
  height: 500px;
  border: 5px solid var(--primary-color);
}

.TextMove {
  font: var(--font-l);

  span {
    font-weight: 600;
  }
}