@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

//Шрифты
$fontFamilyMain: "Kdam Thmor Pro", "Arial", sans-serif;
$fontSizeM: 16px;
$fontLineM: 150%;
$fontMain: #{$fontSizeM} / #{$fontLineM} $fontFamilyMain;

$fontSizeL: 24px;
$fontLineL: 150%;
$fontLarge: #{$fontSizeL} / #{$fontLineL} $fontFamilyMain;

//Цвета
$baseWhite: #fff;
$baseBlack: #000;
$figureWhite: #f8d29b;
$figureBlack: #5b3939;
$active: #ff0d0d;
$require: #28ee84;
$turbid: rgba(0, 0, 0, 0.5);
$primary: #3a61f3;
$blueSecondary: #6C8CD5;