.Button {
  cursor: pointer;
  margin: 0;
  border-radius: 5px;
  padding: 5px 15px;
  border: none;
  outline: none;
  background-color: var(--bg-color);
  color: var(--primary-color);

  &:disabled {
    cursor: default;
    background-color: var(--disabled-color);
  }

  &.clear {
    background: none;
  }

  &.primary {
    background-color: var(--navbar-bg-color);
  }
}