.Figure {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s all ease-in-out;
  background-color: red;
  border-radius: 100%;
  width: 80%;
  height: 80%;

  &.black {
    background-color: var(--figure-black);

    & > svg {
      path {
        fill: var(--figure-white);
      }
    }
  }

  &.white {
    background-color: var(--figure-white);
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }

  &.require {
    border: 3px solid var(--require);
    width: 75%;
    height: 75%;
  }

  &.active {
    border: 3px solid var(--active);
    width: 85%;
    height: 85%;
  }

  &.moving {
    position: absolute;
    z-index: 1;
  }

  & > svg {
    width: 80%;
    height: 80%;
  }
}