$bgColor: #fff;
$primaryColor: #000;
$secondaryColor: #b1b1b1;
$dividerColor: rgba(255, 255, 255, 0.5);
$btnPrimaryColor: #fff8dc;

body {
  &.light {
    --bg-color: #{$bgColor};
    --primary-color: #{$primaryColor};
    --navbar-bg-color: #{$secondaryColor};
    --disabled-color: #{$dividerColor};
    --btn-primary-color: #{$btnPrimaryColor};
  }
}