.Navbar {
  background-color: var(--navbar-bg-color);
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:global(.dark) {
  .btnWrapper {
    svg {
      path {
        fill: var(--cell-white);
      }
    }
  }
}

.btnWrapper {
  display: flex;
  gap: 8px;
  height: 40px;

  svg {
    width: 30px;
    height: 30px;
  }
}